*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./images/website-background-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px) brightness(1);
}
.logo {
    font-size: 48px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.orange {
    color: rgb(255, 165, 0);
    font-size: x-large;
}

.black {
    color: whitesmoke;
}
nav{
    text-indent: 10px;
    padding: 10px;
}
.anime{
    width: 100%;
    background-color: black;
    color: whitesmoke;
    overflow: hidden;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.anime-text{
    animation: moving 10s linear infinite;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    font-size: medium;
}
/* Animation */
@keyframes moving {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
/* Second Section */
h4{
    color: white;
    font-size: x-large;
    text-transform: capitalize;
}
h5{
    font-size: larger;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-left: 20px;
    width: 100%;
}
.left{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80vh;
    gap: 30px;
}
.left-icon {
    display: flex;
    gap: 20px;
    justify-content: start;
    align-items: center;
}
.right{
    width: 40%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.left-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-icon {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: orange;
    font-weight: bolder;
    margin: 0;
}
.Box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 70%;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px white;
}
.Box-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100px;
    gap: 5px;
}
.Box-icon i{
    color: rgb(255, 165, 0);
    font-size: 40px;
}
/* Right Card */
.right{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}
.right .Rgcard{
    height: 325px;
    width: 300px;
    align-items: center;
    padding: 20px;
    justify-content: center;
    box-shadow: 0px 0px 15px 0px;
    background-color: white;
}
.input{
    display: grid;
    grid-column: auto;
    gap: 50px;
}
input{
    border-right: none;
    border-top: none;
    border-left: none;
    outline: none;
}
button{
    height: 45px;
    background-color: rgb(255, 165, 0);
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 768px){
    body{
        backdrop-filter: blur(5px) brightness(1);
        height:max-content;
    }
    nav{
        width: 100%;
    }
    .anime{
        width: 100%;
    }
    .container{
        width: 100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }
    .container-icon{
        width: 100%;
        flex-direction: column;
    }
    .left{
        flex-direction: column;
        align-items: start;
        width: 100%;
        padding: 10px;
    }
    .left-content{
        text-align: center;
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }
    .left {
        width: 100%;
        height: max-content;
    }
    .left-icon {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        padding: 6px;
    }
    .right{
        width: 100%;
        height: max-content;
        margin: 20px;
    }
    .Box{
        width: 100%;
    }
    .Box-icon{
        text-align: center;
    }
    .input {
        width: 100%;
    }
    .Rgcard{
        width: 100%;
        margin-top: 20px;
        background-color: white;
    }
}